---
import img from "../../assets/sevices.jpg"
---
<div class="content-wrapper">
    <img src={img} alt="services"/>
    </div>
    <style>
       .content-wrapper{
        grid-area: 1 / 1 / 2 / 2;
        padding-left: 100px;
        padding-top: 100px;
    }
       img{
width: 600px;
height: 400px;
       }
    </style>