.container {
    min-height: 16.04vw; /* 30.781px */
    width: 100%;
    height: 100%;
    padding: 0 15.975vw; /* 305px */
    display: flex;
    padding-top: 5.73vw; /* 110px */
    padding-bottom: 5.47vw; /* 105px */
    contain: paint;
}

.first {
    flex: 3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 1.04vw; /* 20px */
    min-width: 38.67vw; /* 740.828px */
}

.first h3 {
    margin: 0 0 0.52vw; /* 10px */
    font-family: 'DM Sans', sans-serif;
    color: #cafb42;
    font-size: 0.833vw; /* 16px */
    line-height: 1.35vw; /* 26px */
    text-transform: uppercase;
}

.first h2 {
    font-size: 3.33vw; /* 64px */
    line-height: 3.85vw; /* 74px */
    text-transform: none;
    margin: 0 0 2.08vw; /* 40px */
    font-family: "DM Sans", sans-serif;
    width: 100%;
}

.first p {
    margin: 0 0 0.52vw; /* 10px */
    font-family: 'DM Sans', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.833vw; /* 16px */
}

.second {
    flex: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.56vw; /* 30px */
    padding: 5.21vw 0 0; /* 100px */
}

.bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 27.58vw; /* 529.172px */
    height: 2.04vw; /* 39px */
}

.barText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.52vw; /* 10px */
}

.barText h3 {
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 0.833vw; /* 16px */
    text-transform: uppercase;
    line-height: 1.35vw; /* 26px */
}

.barBorder {
    height: 0.16vw; /* 3px */
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    border-radius: 0.26vw; /* 5px */
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #ffffff;
    border-radius: 0.26vw; /* 5px */
    transition: width 1.5s ease-in-out;
}


@media screen and (max-width: 1024px) {
    .container { padding: 100px 2vw; flex-direction: column;}
      .first, .second {
        flex: 1 1 100%; /* Allow both sections to take full width */
        max-width: 100%; /* Ensure full width */
        margin-right: 0; /* Remove right margin */
        line-height: 26px;
    }

    .first h2 {
        font-size: 45px; /* 64px -> responsive */
        line-height: 55px;
        font-weight: 700;
        overflow-wrap: break-word;
    }

    .first p {
        font-size: 16px; /* 16px -> responsive */
         line-height: 26px;
         font-weight: 400;

    }
    .first h3 {
        font-size: 16px; /* 16px -> responsive */
         line-height: 26px;
         font-weight: 700;
    }
    .second{
        gap:30px;
        
    }
    .bar{
        height:8vw ;
    }
    .barText { margin-bottom:2.2vw;}
    .barText h3 {
        font-size: 16px; /* 16px -> responsive */
    }
    .barBorder{
        height: 0.3vw;
    }
    .progress {
        height:0.3vw; /* Adjusted height for responsiveness */
    }
}
@keyframes progressAnimation {
    from { width: 0%; }
    to { width: 100%; }
}




@media screen and (max-width: 480px)
{
    .container { padding: 60px 3.64vw 45px; }
  
    .first h2 {
        font-size: 9.722vw;  
        line-height: 12.5vw !important;
        font-weight: 700;
        margin: 0 0 11.111vw;
    }

    .first p {
        font-size: 4.444vw; /* 16px -> responsive */
         line-height: 6.31vw;
         font-weight: 400;
         margin: 0 0 9.71vw;
    }

    
    .first h3 {
        margin: 0 0 2.778vw;
        font-weight: bold;
    }
  
    .bar{
        height:auto ;
        gap:12px;
    }
    .barText { margin-bottom:2.2vw;}
    .barText h3 {
        font-size: 3.88vw; /* 16px -> responsive */
    }
    .barBorder{
        height:0.7vw;
    }
    .progress {
        height:0.7vw; /* Adjusted height for responsiveness */
    }
}
