---
import background from "../../../assets/cleaning.mp4";
import FirstSection from "./first-section.astro";
import SecondSection from "./second-section/second-section.astro";
---

<main style="width:100vw; height:100vh">
	
	<section
		style="width: 100%; margin-top: -10vh; background:#141416; min-height: 10vh; "
	>
			<FirstSection />
			<SecondSection />
	</section>
</main>

<style>
	@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
	*::selection {
		color: #000;
		background-color: #cafb42;
	}
	
</style>
