.container { height: 21.67vw; width: 100%; position: relative; margin-top: 17.5vw; display: flex; gap: 5vw; }
.mainImage { width: 21.67vw; height: 21.67vw; object-fit: cover; object-position: center; border-radius: 50%; }
.mainImage img { border-radius: 50%; }
.sliderContainer { flex: 1; overflow: hidden; position: relative; display: flex; align-items: flex-end; }
.slider { min-width: 100%; min-height: 80%; display: flex; position: relative; flex-wrap: nowrap; transition: transform .4s; pointer-events: none; }
.slide { display: flex; align-items: center; min-width: 100%; min-height: 100%; }
.profileContainer { height: 100%; width: 8.9584vw; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.profileImage { width: 8.9584vw; height: 8.9584vw; object-fit: cover; object-position: center; border-radius: 50%; }
.profileImage img { border-radius: 50%; }
.name { font-size: 1.2vw; margin-top: .75vw; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; }
.role { font-size: .85vw; color: var(--t-secondary); font-weight: 600; margin-top: .25vw; }
.rating { font-size: 1vw; margin-top: .5vw; display: flex; justify-content: center; }
.divider { height: 100%; width: 1px; background: rgba(255, 255, 255, 0.1); margin: 0 3vw; }
.testimonialWrapper { flex: 1; display: flex; height: 100%; align-items: flex-end; }
.testimonialContent { width: 100%; display: flex; flex-direction: column; padding-bottom: 6vw; }
.testimonialText { font-size: 1.1vw; hyphens: auto; word-wrap: break-word; font-weight: 600; font-style: italic; margin-bottom: 0; }
.testimonialRating { font-size: 1vw; margin-top: 1vw; display: flex; justify-content: flex-start; color: #FFD700; }

.controlsOverlay { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: transparent; cursor: grab; display: flex; align-items: flex-end; }
.buttonsContainer { display: flex; margin: 0 0 0 15vw; gap: 0.75vw; color: var(--t-primary); }
.navButton { background: var(--bg-base); width: 2.75vw; height: 2.75vw; border-radius: 50%; color: inherit; border: 2px solid var(--t-primary); display: flex; align-items: center; justify-content: center; }
.prevButton { transform: rotate(180deg); }
.arrowIcon { width: 60%; height: 60%; }

.buttonsContainer button:hover {background: var(--ac-primary); border: 2px solid var(--ac-primary); color: var(--bg-base);}



@media (max-width: 1024px) {
    .container { height: 105.34vw; margin-top: 25vw; gap: 0; flex-direction: column; justify-content: space-between; align-items: center;}
    .mainImage { width: 54.167vw; height: 54.167vw; }
    .sliderContainer { width: 100%; }
    .slide { padding: 0 2vw; }

    .divider {margin: 0 7vw; }

    .profileContainer { height: 100%; width: 22.4vw; }
    .profileImage { width: 22.4vw; height: 22.4vw; }

    .name { font-size: 2.75vw; margin-top: 2vw; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; }
    .role { font-size: 2vw; margin-top: .5vw; }
    .rating { font-size: 2.25vw; margin-top: 1vw; }
    .testimonialText { font-size: 3.5vw; }
    .testimonialRating { font-size: 2.5vw; margin-top: 2vw; color: #FFD700; }
    .testimonialWrapper { align-items: flex-end; }
    .buttonsContainer {display: none;}

}

@media (max-width: 480px) {
    .container { height: auto; margin-top: 50vw; gap: 17.5vw; }
    .mainImage { width:  85.4368vw; height:  85.4368vw;  }
    .profileContainer { height: auto; min-width: 51.6vw; justify-content: flex-start; align-items: flex-start; }
    .profileImage { width: 42.5vw; height: 42.5vw;  }
    .slide { flex-direction: column; align-items: flex-start; gap: 5vw; }
    .divider {display: none;}
    .name { font-size: 5vw; margin-top: 5vw; margin-left: 2vw; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90%; }
    .role { font-size: 4vw; margin-top: 1vw; margin-left: 2vw; }
    .rating { font-size: 4.5vw; margin-top: 1.5vw; margin-left: 2vw; }
    .testimonialText { font-size: 5vw; height: auto; }
    .testimonialRating { font-size: 4vw; margin-top: 3vw; color: #FFD700; }
    .testimonialWrapper { height: auto; align-items: flex-start; }
    .testimonialContent { height: auto; }

}