.page {width: 100%; contain: paint;}
.showCase { padding: 0 15.975vw; }
.refrences { margin: 10vw 15.975vw; }
.greenBandWrapper { margin: 0 0 13.75vw 0 !important;  }





@media (max-width: 1024px) {
    .showCase { padding: 0 2vw; }
    .refrences { margin: 10vw 2vw !important; }
    .greenBandWrapper { margin: 8vw 0 25vw 0 !important;  }
}
@media (max-width: 480px) {
    .showCase { padding: 0 3vw; }
    .refrences { margin: 0 3vw; }
    .greenBandWrapper { margin: 17.5vw 0 32.5vw 0 !important;  }

}
