.page {width: 100%; contain: paint;}
.showCase { padding: 0 var(--padding-base) 4vw; }
.refrences { margin: 6vw var(--padding-base) 10vw; }
.greenBandWrapper { margin: 0 0 5.5vw 0 !important;  }





@media (max-width: 1024px) {
    .showCase { padding: 0 2vw 8vw; }
    .refrences { margin: 8vw 2vw 14vw !important; }
    .greenBandWrapper { margin: 0 0 10vw 0 !important;  }
}
@media (max-width: 480px) {
    .showCase { padding: 0 3vw 12vw; }
    .refrences { margin: 8vw 3vw 16vw; }
    .greenBandWrapper { margin: 0 0 14vw 0 !important;  }

}
