---
import AnimatedText from "./animated-text.astro";
---

<div class="father-container">
    
    <AnimatedText
        text={[
            "A large number of grateful customers",
            "Premium handyman services",
            "10+ Years of professional experience",
        ]}
    />
</div>
