---
import {FaQuoteLeft} from "react-icons/fa/index.js"
---
<FaQuoteLeft style={{fontSize:"50px" , color:"#fff"}}/>
<p style=" text-al font-size:20px;color:#fff;font-weight:400;font-family: Nunito Sans, sans-serif; margin-bottom: 20px; background:#fff ; width:150px ; color:#000;border-radius:15px;display:flex;align-items:center;justify-content:center;">Notre communauté</p>
	
		<!-- <figure class="review">
			<blockquote>"Je suis extrêmement satisfait du travail de cette entreprise de nettoyage. Ils ont nettoyé tous les types de surfaces dans ma maison, y compris les tapis, les carreaux et les meubles en cuir, et tout est impeccable. Leur personnel est professionnel, fiable et poli, et ils ont fait un excellent travail en utilisant des produits de nettoyage respectueux de l'environnement. Je recommande vivement cette entreprise à quiconque recherche un nettoyage de qualité supérieure<div class="arrow"></div>
			</blockquote>
			<img  />
			<div class="author">
			  <h5>dhia react <span> 2023</span></h5>
			</div>
		  </figure>
		  <figure class="review hover">
			<blockquote>Nous avons engagé cette entreprise de nettoyage pour entretenir les locaux de notre entreprise, et nous ne pourrions pas être plus satisfaits de leur travail. Ils ont nettoyé tous les types de surfaces, des sols en béton aux bureaux en verre, et tout est toujours impeccable. Nous sommes également ravis de leur excellent service client - ils sont toujours prêts à répondre à nos questions et à résoudre rapidement tout problème éventuel.
			  <div class="arrow"></div>
			</blockquote>
			<img  />
			<div class="author">
			  <h5>Fat7eya klafez<span> 2020</span></h5>
			</div>
		  </figure>
		  <figure class="review">
			<blockquote>Je ne peux pas dire assez de bonnes choses sur cette entreprise de nettoyage. Ils ont nettoyé ma maison avant une grande fête, et le résultat était tout simplement incroyable. Ils ont réussi à éliminer toutes les taches tenaces de mes tapis et canapés en tissu, et ont même restauré l'éclat de mes surfaces en marbre. Leur personnel est très sympathique et compétent, et ils ont travaillé rapidement et efficacement pour s'assurer que ma maison était impeccable à temps pour ma fête
			  <div class="arrow"></div>
			</blockquote>
			<img  />
			<div class="author">
			  <h5>3imed sisou<span> 2022</span></h5>
			</div>
        </figure> -->