.container { display: flex; flex-direction: row; width: 100%; gap: 20px; padding: 40px var(--padding-base); }
.background { background-color: var(--bg-elevated); width: 100%; height: 188px; display: flex; flex-direction: column; }
.content { display: flex; flex-direction: column; gap: 10px; padding: 36px 30px 24px; }
.heading { font-size: 24px; }
.text { font-size: 16px; color: var(--t-thri); line-height: 1.5; }
