.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    padding: 40px var(--padding-base);
}

.background {
    background-color: var(--bg-elevated);
    width: 100%;
    height: auto;
    min-height: 188px;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 36px 30px 24px;
}

.heading {
    font-size: 24px;
    word-wrap: break-word;
}

.text {
    font-size: 16px;
    color: var(--t-thri);
    line-height: 1.5;
    word-wrap: break-word;
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        gap: 16px;
        padding: 30px var(--padding-base);
    }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .container {
        padding: 20px var(--padding-base);
    }

    .content {
        padding: 24px 20px;
    }

    .heading {
        font-size: 20px;
    }

    .text {
        font-size: 14px;
    }
}
