---
import TitleSection from "./title-section.astro";
import CircleSection from "./circle-section/index.astro";
---

<div class="father">
    <div class="container">
        <TitleSection />
        <CircleSection />
    </div>
</div>

<style>
    .father {
        display: flex;
        justify-content: center;
        background-color:#141416
    }
    .container {
        width: 100%;
        max-width: 1300px;
    }
    .circle {
        color: red;
    }
    @media (max-width: 1327px) {
        .container {
            width: calc(100% - 30px);
        }
    }
</style>
