---
import TitleSection from "./title-section.astro";
import CircleSection from "./circle-section/index.astro";
---

<div class="father">
    <div class="container">
        <TitleSection />
        <CircleSection />
    </div>
</div>

<style>
    *::selection {
        color: #000;
        background-color: #cafb42;
    }
    .father {
        display: flex;
        justify-content: center;
        background-color: #141416;
        padding-bottom: 90px;
        width: calc(100% - 30px);
        margin-top: 100px;
    }
    .container {
        width: 100%;
        max-width: 1300px;
        margin-left: 15px;
    }

  
</style>
