---
---

<div class="fade">
    <h2>FOR ALL HOME SERVICES</h2>
    <h1>Don't know what to start with?<br/>
        get a solutions</h1>
</div>
<style>
    *::selection {
        color: #000;
        background-color: #cafb42;
    }
   
    h2 {
        color: #cafb42;
        margin-top: 21px;
        font-weight: bold;
        font-size: 16px;
    }
    h1 {
        font-size: 63px;
        color: white;
        margin-top: 10px;
        line-height: 75px;
        font-weight: bold;
    }

    @media (max-width: 990px) {
        h1 {
            font-size: 40px;
            line-height: 55px;
        }
    }
</style>
