.container {
    display: flex;
    flex-direction: column;
    padding: 0 15.975vw 5.469vw 15.975vw;
    min-height: 32vw;
    height: 100%;
    width: 100%;
    contain: paint;
}

.container h3 {
    margin: 0 0 0.52vw;
    font-family: 'DM Sans', sans-serif;
    color: #cafb42;
    font-size: 0.83vw;
    line-height: 1.35vw;
    text-transform: uppercase;
}

.container h2 {
    font-size: 3.33vw;
    line-height: 3.85vw;
    text-transform: none;
    margin: 0 0 1.04vw;
    font-family: "DM Sans", sans-serif;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;

    margin-top:1vw;
    width: 100%;
    height: 100%;
    gap: 1.5vw;
}

.card {
    display: flex;
    flex: 1;
    flex-direction: column;
   width: 20.63vw;
  height: 24.40vw;
   gap:0;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.imageContainer{
    padding:0;
    margin:0;
    height: 19.51vw;
    width: 100%;
}
.imageContainer img {
    width: 100%;
    height: 100%;
    z-index:1;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    padding: 1.30vw 0 1.35vw 0;
    margin:-2.82vw 0 0 0;
     background: var(--bg-elevated);
     width:100%;
     height: 5vw;
     z-index:2;
     position: absolute;
     bottom: 0;
     /* line-height: 1.30vw; */
}
.textContainer h3{
    font-size:0.88vw ;
    font-weight: 700;
    text-decoration-style:solid ;
    color:#fff;
    text-transform: uppercase;
    margin-bottom: 0;
}
.textContainer h4{
    font-size:0.79vw;
    font-weight: 400;
    color:#9dabaf;
}

.socials{
    justify-content: center;
    align-items: center;
    gap:.3vw;
    height:100%;
    width:100%;
    margin-top: 0.94vw;
    display:none;
    
}
.icon{
    width:0.83vw;
    height:auto;
    color:rgba(255, 255, 255, 0.7);
    background-color:transparent;
    
}

@keyframes fadeBack {
    0% {
        background-color: rgba(71, 71, 71, 0.918);; /* Fully transparent */
    }
    100% {
        background-color: var(--bg-elevated); /* Fully visible */
    }
}
.card:hover .textContainer {
    transform: translateY(-0.32vw);
    transition: transform .9s ease;
    bottom: -7;
    animation: fadeBack .9s forwards;
    height:fit-content;
}

/* Make socials appear on hover */
.card:hover .socials {
    display: flex;
}


@media screen and (max-width: 1024px) {
    .container {
        padding: 0 1.95vw;
    }
}