---
import Slides from "./slides.jsx";
---

<main
style="width: 100vw; height: 100vh; color: white; position: relative; display: flex; justify-content: center; align-items: center;"
>
    <Slides client:load />
</main>
<style></style>
