---
const { text } = Astro.props;
---

<div
    class="grandpapa-container"
    onmouseover="this.style.animationPlayState='paused';"
    onmouseout="this.style.animationPlayState='running';"
>
    {
        text.map((e, i) => {
            return (
                <div class="container">
                    <h1
                        style={`text-shadow: ${
                            i % 2 === 0
                                ? `-2px -2px 0 white,2px -2px 0 white,-2px 2px 0 white,2px 2px 0 white`
                                : "none"
                        };
                        color: ${i % 2 === 0 ? "#141416" : "white"}`}
                    >
                        {e}
                    </h1>
                    <div class="_" />
                </div>
            );
        })
    }
</div>

<style>
    *::selection {
        color: #000;
        background-color: #cafb42;
    }
    h1 {
        font-size: 110px;
        cursor: default;
    }
    .container {
        display: flex;
        align-items: center;
    }
    ._ {
        width: 70px;
        height: 18px;
        border: 2px solid white;
        background-color: transparent;
        margin-left: 30px;
        margin-right: 30px;
        position: relative;
        top: 40px;
    }
    .grandpapa-container {
        margin-top: 1900px;
        display: flex;
        animation: move-right 15s linear infinite;
    }
    @media (max-width: 990px) {
        .grandpapa-container {
            margin-top: 1950px;
        }
        h1 {
            font-size: 70px;
        }
    }
    @media (max-width: 768px) {
        .grandpapa-container {
            margin-top: 2500px;
        }
        h1 {
            font-size: 60px;
        }
        ._ {
            width: 60px;
            height: 14px;
            top: 15px;
        }
    }
    @keyframes move-right {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
</style>
