---
const text = [
    "Handyman",
    "Services",
    "Webflow",
    "Theme",
    "Handyman",
    "Boldman",
    "Webflow",
    "Services",
    "Boldman",
    "Theme",
];
---

<div class="text-flow fade">
    <div
        class="container"
        onmouseover="this.style.animationPlayState='paused';"
        onmouseout="this.style.animationPlayState='running';"
    >
        {
            [...text, ...text, ...text].map((e, i) => {
                return (
                    <div class="text-container">
                        <h1
                            style={`text-shadow: ${
                                i % 2 === 0
                                    ? `-2px -2px 0 white,2px -2px 0 white,-2px 2px 0 white,2px 2px 0 white`
                                    : "none"
                            };
                        color: ${
                            i % 2 === 0 ? "#141416" : "white"
                        }; padding-left: 130px;`}
                        >
                            {e}
                        </h1>
                        <div class="_" />
                    </div>
                );
            })
        }
    </div>
</div>

<style>
    *::selection {
        color: #000;
        background-color: #cafb42;
    }

    .text-flow {
        display: flex;
        max-width: 100vw;
        display: flex;
        align-items: center;
        margin-top: 30px;
        overflow: hidden;
        margin-top: 1800px;
    }

    .container {
        display: flex;
        animation: move-right 155s linear infinite;
        align-items: center;
    }

    .text-container {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
    }
    ._ {
        width: 70px;
        height: 18px;
        border: 2px solid white;
        background-color: transparent;
        margin-left: 30px;
        margin-right: 30px;
        position: absolute;
        bottom: 40px;
    }
    h1 {
        font-size: 110px;
        cursor: default;
        line-height: 0;
    }

    @media (max-width: 990px) {
        .text-flow {
            margin-top: 2050px;
        }
        h1 {
            font-size: 70px;
        }
    }
    @media (max-width: 768px) {
        .text-flow {
            margin-top: 2700px;
        }
        h1 {
            font-size: 60px;
        }
        ._ {
            width: 60px;
            bottom: 20px;
        }
    }

    @keyframes move-left {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
</style>
