.welcome {
    display: flex;
    min-height: 274px;
    width: 100%;
    padding: 0 15.975vw;
    gap: 20px;
    padding-bottom: 105px;
    height: 100%;
    line-height: 26px;
}


.slash {
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0
}




@media screen and (max-width: 1024px) {

    .welcome {
        flex-direction: column;
        padding: 0 4vw 50 4vw;
        justify-content: center;
        align-items: baseline;
    }
}

