.welcome {
    display: flex;
    min-height: 274px;
    width: 100%;
    padding: 0 15.975vw;
    /* gap: 20px; */
    padding-bottom: 105px;
    height: 100%;
    line-height: 26px;
}






@media screen and (max-width: 1024px) {

    .welcome {
        flex-direction: column;
        padding: 0 3vw 50 3vw;
        justify-content: center;
        align-items: baseline;
    }
}

