.welcomeCard {
    display: flex;
    min-height: 174px;
   /* width: 635px !important; */
    height: 100%;
    width:100%;
}

.image {
    border-radius: 50%;
    width: 174px;
    height: 174px
}

.welcomeinfotext {
    padding: 20 0 0 30px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:100%;
   height: 100%;
   /* white-space: nowrap; */
}

.welcomeinfotext h3 {
    font-size: 26px;
    font-weight: 700;
    /* margin-top: 15px;*/
    padding:20px 0 10px 
}

.welcomeinfotext h4 {
    font-size: 16px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.7);
}

.nameandposition {
    display: flex;
    gap: 3px;
    padding:0 0 12px;
}
.slash {
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0
}

.nameandposition h5 {
    font-size: 22px;
    font-weight: 700;
}

.nameandposition h6 {
    font-size: 16px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.7);
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 700px) {
    .welcomeCard{
        flex-direction: column;
       
    }
    .welcomeinfotext h3 {
        font-size: 26px;
        line-height: 36px;
        font-weight: 600;
        white-space: wrap;
    }
    .welcomeinfotext{
        padding: 10 0vw;
        line-height: 36px;
    }
    /* .image{
        padding-left: 4vw;
    } */
}