.container { padding: var(--padding-base); }

.tabMenu { 
    display: flex;
    gap: 1.56vw;;
    height: 3.70vw; /* 71px/1920*100 */

}

.tabButton {
    font-size: 1.30vw; /* 25px/1920*100 */
    font-weight: 700;
    color: var(--t-primary);
    border: none;
    background: transparent;
    position: relative;
}

.tabButton.active {
    border-bottom: 2px solid var(--ac-primary);
}

.tabContent {
    border-top: 1px solid #2B2B2C;
    /* padding: 2.65vw; 51px/1920*100 */
}

.tabPanel {
    display: flex;
    gap: 2.60vw; /* 50px/1920*100 */
    padding-top: 50px;
    /* flex-direction: row-reverse; */
}
.row {
    flex-direction: row;
  }
  .rowReverse {
    flex-direction: row-reverse;
  }
  
  /* Column layouts */
  .column {
    flex-direction: column;
  }
  .columnReverse {
    flex-direction: column-reverse;
  }
.tabDesc {
    
    display: flex;
    flex-direction: column;
    gap: 0.78vw; /* 15px/1920*100 */
}

.tabTitle {
    font-size: 1.30vw; /* 25px/1920*100 */
    color: var(--t-primary);
    margin-bottom: 0.78vw; /* 15px/1920*100 */
}

.tabText {
    font-size: 0.83vw; /* 16px/1920*100 */
    color: var(--t-thri);
    line-height: 1.35vw; /* 26px/1920*100 */
}

.tabImage {
    width: 19.17vw; /* 368px/1920*100 */
    height: 10.50vw; /* 202px/1920*100 */
}

.tabImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .container { padding: var(--padding-base); }
    .tabMenu { 
        height: auto;
       
    }
    .tabButton { 
        font-size: 3vw; /* 25px/1024*100 */ 
        padding: 15px 0;
    }
    .tabTitle{
        font-size: 3vw;
    }
    .tabText { 
        font-size: 1.56vw; /* 16px/1024*100 */ 
        line-height: 2.31vw; 
    }
    .tabImage {
        width: 100%;
        height: auto;
        aspect-ratio: 330/180.85;
    }
}

@media screen and (max-width: 480px) {
    .container { padding: var(--padding-base); }
    .tabMenu { 
        flex-direction: column; 
        text-align: start ;
        /* gap: 30px; */
        padding-top: 26px;
        align-items: flex-start;
        text-align: left;
    }
    .tabPanel{
        padding-top: 25px;
        flex-direction: column !important;
    }
    .tabButton { 
        font-size: 6.07vw; /* 25px/412*100 */
        /* padding: 15px 0;      */
        text-align: left;
        width: 100%;
        padding: 15px 0;
    }
    .tabTitle {
        font-size: 6.07vw; /* 25px/412*100 */
        margin-bottom: 15px;
    }
    .tabText { 
        font-size: 3.88vw; /* 16px/412*100 */ 
        line-height: 6.31vw; /* 26px/412*100 */
    }
    .tabDesc { 
        width: 100%;
        gap: 15px;
    }
    .tabImage { 
        width: 100%;
        height: auto;
        aspect-ratio: 330/180.85;
    }
}
