---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro/Intro.astro";
import Sliders from "../components/sliders/sliders.astro"
import Contact from "../components/Contact.astro";
---

<Layout title="chaabane cleaning int.">
	<section>
		<Intro />
	</section>
	<section>
		<Sliders />
	</section>
	<section id="contact">
		<Contact />
	</section>
	<footer style="height:10vh"></footer>
</Layout>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;900&display=swap");
	* {
		margin: 0;
		font-family: "Nunito Sans", sans-serif;
		font-weight: 300;
	}
	
</style>
