---
import Layout from "../layouts/Layout.astro";
import Intro from "./index/Intro/Intro.astro";
import TextFlow from "./index/text-flow.astro";
import Solution from "./index/solution/index.astro";
import Projects from "./index/projects/index.astro";
import Testimony from "./index/testimony/index.astro";
import Overlay from "./index/background-overlay.astro";
import References from "../../src/components/references/references.astro";
import Faq from "../../src/components/faq/faq.astro";
import hero from "../assets/home-page/hero.webp";
import Contact from "../components/Contact.astro";
import Hero from "./index/hero.astro";
---

<Layout title="chaabane cleaning int.">
	<section>
		<Hero />
	</section>

	<section>
		<Intro />
	</section>

	<section>
		<TextFlow />
	</section>

	<section>
		<Solution />
	</section>
	<section class="fade">
		<Projects />
	</section>
	<section>
		<Testimony class="fade" />
	</section>
	<section>
		<Overlay class="fade" />
	</section>

	<!-- 	
	<section >
		<References/>
	</section>  -->
</Layout>

<style>
	* {
		margin: 0;
		font-family: "DM Sans", sans-serif;
	}

	html::-webkit-scrollbar {
		display: none;
	}
</style>
<script>
	const fadeObserver = new IntersectionObserver((entries) => {
		entries.forEach((element) => {
			if (element.isIntersecting) {
				element.target.style.opacity = "1";
				element.target.style.filter = "blur(0px)";
			} else {
				element.target.style.opacity = "0";
				element.target.style.filter = "blur(5px)";
			}
		});
	});

	const fade = document.querySelectorAll(".fade");

	fade.forEach((el) => {
		el.style.opacity = "0";
		el.style.filter = "blur(5px)";
		el.style.transition = "0.6s linear";

		fadeObserver.observe(el);
	});
</script>
