---
import Layout from "../layouts/Layout.astro";
import Intro from "./index/Intro/Intro.astro";
import TextFlow from "./index/text-flow.astro";
import Solution from "./index/solution/index.astro";
import Projects from "./index/projects/index.astro";
import References from "../../src/components/references/references.astro";
import Faq from "../../src/components/faq/faq.astro";
---

<Layout title="chaabane cleaning int.">
	<section>
		<Intro />
	</section>
	<section>
		<TextFlow
			text={[
				"Handyman",
				"Services",
				"Webflow",
				"Theme",
				"Handyman",
				"Boldman",
				"Webflow",
				"Services",
				"Boldman",
				"Theme",
			]}
		/>
	</section>
	<section>
		<Solution />
	</section>
	<section>
		<Projects />
	</section>

	<!-- 	
	<section >
		<References/>
	</section>  -->
</Layout>

<style>
	* {
		margin: 0;
		font-family: "DM Sans", sans-serif;
	}

	html::-webkit-scrollbar {
		display: none;
	}
</style>
