---
import Intro from "../components/Intro/Intro.astro";
import Layout from "../layouts/Layout.astro";
import TextFlow from "./index/text-flow.astro";
import Projects from "./index/projects/index.astro";
import Solution from "./index/solution/index.astro";
import Testimony from "./index/testimony/index.astro";
import Overlay from "./index/background-overlay.astro";

---

<Layout title="chaabane cleaning int.">
	<section>
		<Intro />
	</section>
	<section>
		<TextFlow
			text={[
				"Handyman",
				"Services",
				"Webflow",
				"Theme",
				"Handyman",
				"Boldman",
				"Webflow",
				"Services",
				"Boldman",
				"Theme",
			]}
		/>
	</section>
	<section>
		<Solution />
	</section>
	<section>
		<Projects />
	</section>
	<section>
		<Testimony />
	</section>
	<section>
		<Overlay />
	</section>
	
	<!-- 	
	<section >
		<References/>
	</section>  -->
</Layout>

<style>
	* {
		margin: 0;
		font-family: "DM Sans", sans-serif;
	}
	
	html::-webkit-scrollbar {
		display: none;
	}
</style>
