.heroContainer { 
    width: 100%; 
    height: 60vh; 
    background: black; 
    contain: paint; 
  }
  
  .backgroundImages {
    position: relative; 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
  }
  

  
  .titleContainer {
    background-color: rgba(255, 0, 0, 0); 
    position: absolute; 
    top:50%;
    left:50% ;
    transform: translate(-50%,-20%);
    max-width: 50vw;
    /* min-width:40vw; */
    max-height: 30vh;
    min-height: 20vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .titleContainer h1 {
    margin-top: 0px;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    font-size: 6vw;
    line-height: 5.908vw;
    text-transform: capitalize;
    margin-bottom: 1.042vw;
    
  }
  
  .resusableTitle {
    display:flex; 
    width: max-content;
  
    gap: 0.781vw;
    justify-content: center;
    align-items: center;
  }
  
  .anchors {
    display:flex; 
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .homeLinkIcon {
    margin-right: 0.26vw;
    font-family: 'Fa solid 900', sans-serif;
    color: #fff;
   
  }
  
  .pagetitleHomeLink {
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    font-size: 2.2vh;
  }
  
  .highlightedTitle h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #cafb42;
    font-size: 2.2vh;
    line-height: 1.042vw;
    font-weight: 400;
    text-transform: capitalize;
  }
  