.heroContainer { 
    width: 100%; 
    height: 23.08vw; 
    background: black; 
    
  }
  
  .backgroundImages {
    position: relative; 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
  }
  

  
  .titleContainer {
    background-color: rgba(255, 0, 0, 0); 
    position: absolute; 
    top:50%;
    left:50% ;
    transform: translate(-50%,-20%);
    max-width: 50vw;
    /* min-width:40vw; */
    max-height: 30vh;
    min-height: 20vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .titleContainer h1 {
    margin-top: 0px;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    font-size: 4.69vw;
    line-height: 3.908vw;
    text-transform: capitalize;
    margin-bottom: 1.042vw;
    
  }
  
  .resusableTitle {
    display:flex; 
    width: max-content;
  
    gap: 0.781vw;
    justify-content: center;
    align-items: center;
  }
  
  .anchors {
    display:flex; 
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .homeLinkIcon {
    margin-right: 0.26vw;
    font-family: 'Fa solid 900', sans-serif;
    color: #fff;
   
  }
  
  .pagetitleHomeLink {
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    font-size: 0.83vw;
  }
  
  .highlightedTitle h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #cafb42;
    font-size: 0.83vw;
    line-height: 1.042vw;
    font-weight: 400;
    text-transform: capitalize;
  }
  /* @media screen and (min-width: 1024px) {
    .heroContainer {
        height: 40vw;
    }
    .titleContainer h1 {
        font-size: 5vw;
        line-height: 4.5vw;
    }
  } */
  
  /* Tablets */
  @media screen and (max-width: 1023px) {
    .heroContainer {
        height: 60vw;
    }
    .titleContainer h1 {
        font-size: 7vw;
        line-height: 6vw;
    }
  }
  
  /* Mobile Devices */
  @media screen and (max-width: 768px) {
    .heroContainer {
        height: 70vw;
    }
    .titleContainer h1 {
        font-size: 8vw;
        line-height: 7vw;
    }
    .pagetitleHomeLink {
        font-size: 2vw;
    }
    .highlightedTitle h2 {
        font-size: 2vw;
        line-height: 2.5vw;
    }
  }
  
  /* Small Mobile Devices */
  @media screen and (max-width: 480px) {
    .heroContainer {
        height: 80vw;
    }
    .titleContainer h1 {
        font-size: 9vw;
        line-height: 8vw;
        line-height: 12vw;
    }
    .pagetitleHomeLink {
        font-size: 3.7vw;
    }
    .highlightedTitle h2 {
        font-size: 3.7vw;
        line-height: 3vw;
    }
  .icon{
    height:3vw;
    width:3vw;
  }
  }
  
  
  