.container { z-index: 0; width: 100%; margin: 7.5vw 0;  }
.band {display: flex;gap: 2vw;color: rgba(255, 255, 255, 0.5);transform: translateX(-428%);animation: slideRight 60s linear infinite;}
.band strong { font-weight: 500; font-size: 4vw; white-space: nowrap;  }

@keyframes slideRight {
    0% {transform: translateX(-25%);}
    100% {transform: translateX(-428%);}
}

@media (max-width: 1024px) {
.container { margin: 7.5vw 0;  }
.band strong { font-size: 10vw;  }
}