.section { background: var(--black); color: var(--t-primary); z-index: 1; position: relative; height: auto; width: 100%; display: flex; padding: 0 15.975vw; align-items: center; }
.container { flex: 1; display: flex; flex-direction: column; gap: 4vw; }
.topContent { display: flex; width: 100%; }
.headerContainer { width: 22.92vw; }
.slug { font-size: 0.96vw; font-weight: 500; opacity: 0.9; }
.title { font-size: 3.125vw; font-weight: 500; line-height: 1; margin-top: 0.75vw; font-weight: bolder; }
.descriptionContainer { flex: 1; display: flex; justify-content: space-between; }
.description { display: flex; flex-direction: column; justify-content: center; color: var(--t-secondary); font-size: 1.0417vw; }
.viewAllButton { height: 8.855vw; width: 8.855vw; border-color: var(--ac-primary); font-size: 0.834vw; color: var(--t-secondary); }
.servicesContent { width: 100%; display: flex; }
.imagesContainer { width: 22.92vw; display: flex; flex-direction: column; justify-content: space-between; overflow: hidden; }
.serviceImages { width: 14.59vw; height: 19.786vw; position: relative; }
.serviceImage { transition: transform .5s , opacity .5s; width: 100%; height: auto; position: absolute !important; opacity: 0;  height: 100%;}
.serviceImage:nth-of-type(1) { transform: rotate(15deg) translate(21.5%, 7.9%); opacity: 1; }
.decorativeElements { width: 9.1146vw; height: 3.6459vw; position: relative; margin-bottom: 7%; }
.decorativeElement { transition: transform .3s, opacity .3s; transition-delay: .2s; width: 100%; height: 100%; background: var(--ac-primary); position: absolute; left: 0; top: 0; transform: rotate(-26deg) translate(-100%,-100%); opacity: 0; }
.decorativeElement:nth-of-type(1) { transform: rotate(-26deg) translate(120px,-100%); opacity: 1; }
.servicesList { flex: 1; }
.serviceItem { display: flex; height: 9.45vw; align-items: center; border-bottom: 1px solid var(--ac-primary); color: var(--t-secondary); overflow: hidden; }
.serviceNumber { font-size: 1.46vw; flex: 0.6; }
.serviceTitle { line-height: 1.3; font-size: 1.46vw; flex: 1.75; position: relative; transform: translateX(-3vw); opacity: 0; transition: opacity 1s, transform 1s ease-out }
.serviceTitleLine { display: block; }
.serviceDescription { flex: 2; position: relative; transform: translateX(-3vw); opacity: 0; transition: opacity  1s, transform 1s ease-out; font-size: 0.834vw;  }
.serviceIcon { flex: 1; display: flex; justify-content: flex-end; position: relative; position: relative; transform: translateX(-3vw);  opacity: 0; transition: opacity 1s, transform 1s ease-out }
.icon { transition: transform .3s, opacity .3s; height: 3vw; width: 3vw; position: absolute; right: 0; top: 50%; transform: translate(0, -50%); }
.icon:nth-of-type(2) { color: var(--t-primary); opacity: 0; transform: translate(-50%, 0%);}

.serviceItem:nth-of-type(1) { border-top: 1px solid var(--ac-primary);  }
.serviceItem:nth-of-type(1) .serviceNumber { color: var(--t-primary);  }
.serviceItem:nth-of-type(1) .serviceTitle { color: var(--t-primary);  }
.serviceItem:nth-of-type(1) .serviceIcon .icon:nth-of-type(2)  {opacity: 1; transform: translate(0, -50%); }
.serviceItem:nth-of-type(1) .serviceIcon .icon:nth-of-type(1)  {opacity: 0; transform: translate(75%, -125%); }

@media screen and (max-width: 1024px) {
    .imagesContainer { display: none; }
    .section { padding: 11.71875vw 3vw; }
    .slug { font-size: 2.34375vw; }
    .title { font-size: 4.6875vw; margin-top: 1vw; }
    .headerContainer { width: 31.25vw; transform: translateY(2vw); }
    .description { font-size: 2.0834vw; }
    .viewAllButton { height: 22.1355vw; width: 22.1355vw; font-size: 2.0834vw; }
    .serviceNumber { font-size: 3.64584vw; flex: 0.6; }
    .serviceTitle { font-size: 3.64584vw; }
    .serviceDescription { font-size: 2.0834vw; }
    .serviceItem { height: 28.125vw; }
    .icon { height: 7.5vw; width: 7.5vw; }
    
    }

@media screen and (max-width: 480px) {
    .section { padding: 14.564vw 3.64vw; }
    .slug { font-size: 4.369vw; }
    .title { font-size: 7.767vw; margin-top: 1vw; }
    .headerContainer { width: 100%; transform: none; }
    .topContent { flex-direction: column;}
    .description { font-size:4.368932vw; }
    .descriptionContainer { margin-top: 5vw; flex-direction: column; }
    .viewAllButton { height: 41.262136vw; width: 41.262136vw; font-size:4.368932vw; margin-top: 9vw; }
    .serviceNumber { font-size: 6.7961165vw; flex: none;  margin-top: 5vw;}
    .serviceTitle { font-size: 6.7961165vw; flex: none; width: 100%; display: flex; gap: 2vw; margin-top: 2.5vw;}
    .serviceDescription { font-size: 3.88349vw; flex: none; margin-top: 5vw; width: 85%; white-space: break-spaces }
    .serviceItem { height: 79.85vw; flex-direction: column; justify-content: flex-start; align-items: flex-start;}
    .icon { height: 15vw; width: 15vw; }
    .servicesList { margin-top: 4vw; }
    .serviceIcon { flex: 1;align-self: flex-end; justify-self: flex-end; }
    
    }