.container { display: flex; padding: 115px 15.975vw; justify-content: space-between; contain:paint; width:100%; flex-wrap: wrap;}

.flexItem {
    flex: 4;
    display: flex;
    min-width: 302.5px;
    width: 100%;
    justify-content: baseline;
    align-items: center;
    gap:5px;
    margin-left: 0;
}

.strokeText {
    padding:0;
    margin:0;
     font-family: "DM Sans, sans-serif";
    font-size: 110px;
    line-height: 1.2;
    transition: all 0.6s ease-in-out;
    color: transparent;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #5e5d5d;
    justify-content: center;
    align-items: center;
    display:flex;
}

.labelText {
    z-index: 2;
    font-family: "DM Sans, sans-serif";
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    padding:0;
    margin:0;
    display:flex;
}
.strokeText h4{
    z-index: 2;
    font-family: "DM Sans, sans-serif";
    font-size: 80px;
    line-height: 25px;
    font-weight: 400;
    padding:0;
    margin:0;
    

}
@media (max-width: 1024px) {
    .flexItem {
        flex: 2 /* Ensure two items per row */
    }
}