.circleContainer { margin-top: 3vw; display: flex; }
.shadow { transform:scale(.95); width: 100%; height: 100%; background: var(--ac-primary); position: absolute; left: 0; top: 0; box-shadow: 0px 0px 0.3vw 0.2vw rgba(203,251,66,0.75); border-radius: 50%; transition: transform .3s;}
.circle { min-width: 25vw; min-height: 25vw; border-radius: 50%; position: relative;}
.circle:not(:nth-of-type(1)) {margin-left: -4vw;}
.circle:nth-of-type(2) {z-index: 2; overflow: hidden;}
.circleImage { width: 100%; height: 100%; object-fit: cover; border-radius: 50%; }
.circle:hover .shadow {transform: scale(1);}

.leftCircle { border: 1px solid var(--ac-primary); display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 1.5vw; width: 100%; height: 100%; background-color: var(--bg-base); position: relative; border-radius: 50%; }
.leftCircle .item { width: 71%; margin-left: -1vw; display: flex; flex-direction: column; justify-content: space-between; transition: height .5s; outline: none; }
.leftCircle .titleContainer { display: flex; justify-content: space-between; position: relative; cursor: pointer; }
.leftCircle .title { font-size: 1.15vw; font-weight: 700; cursor: pointer; transition: color .25s; }
.leftCircle .caret { width: 1.75vw; height: 1.75vw; position: absolute; right: 0; color: var(--ac-primary); top: 50%; transform: translateY(-45%); transition: opacity .3s; }
.leftCircle .description { font-size: 12px; color: var(--t-secondary); }


.rightCircle { background: var(--bg-base); border: 1px solid rgb(51, 51, 53); width: 100%; height: 100%; position: relative; z-index: 1; border-radius: 50%; display: flex; align-items: center; gap: .5vw; justify-content: center; }
.rightCircle .numberContainer { width: 7vw; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.rightCircle .number { height: 5vw; display: flex; justify-content: center; align-items: center; font-size: 3.334vw; width: 100%; color: var(--ac-primary); }
.rightCircle .descContainer { width: 5vw; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.rightCircle .description { height: 5vw; display: flex; justify-content: center; align-items: center; font-size: .9vw; color: var(--t-thri); }


.button { color: var(--t-highlight); font-size: .85vw; font-weight: bold; border-radius: 50vw; text-transform: uppercase; margin-top: 1vw; }
.button a { padding: 1vw 2vw; background: var(--ac-primary);  border-radius: 50vw;}

@media (max-width: 1024px) {
.circleContainer { margin-top: 7.5vw; flex-direction: column; height: auto; width: 100%; height: 100%; align-items: center; gap: 4.5vw; }
.circle { min-width: 63.41146vw ; min-height: 63.41146vw ; width: 63.41146vw ;height: 63.41146vw ;border-radius: 50%; }
.circle:not(:nth-of-type(1)) {margin-left: 0;}
.leftCircle .title { font-size: 2.86458vw; }
.leftCircle { gap: 7.5vw; }
.leftCircle .caret { width: 5vw; height: 5vw; top: 50%; transform: translateY(-45%); }
.leftCircle .description { font-size: 2vw; margin-top: 1vw; }
.button { font-size: 2vw;margin-top: 5vw; margin-bottom: 5vw; }
.button a { padding: 2.75vw 4vw; }

.rightCircle { gap: 3vw; }

.rightCircle .numberContainer { width: 15vw; }
.rightCircle .descContainer { width: 14vw; }

.rightCircle .number { height: 13vw; font-size: 8.334vw;  }
.rightCircle .description { height: 13vw; font-size: 2.23vw; color: var(--t-primary);  }

}

@media (max-width: 480px) {
    .circleContainer { margin-top: 22.5vw; gap: 7vw }
    .circle { min-width: 70vw ; min-height: 70vw ; width: 70vw ;height: 70vw ;border-radius: 50%; }

    .leftCircle  { justify-content: flex-start; border: none; gap: 1vw;}
    .leftCircle .title { font-size: 5.4vw; width: 70%;  }
    .leftCircle .item { width: 100%; flex: 1 !important; transition: margin-bottom .3s;  margin-left: 0;}
    .leftCircle .titleContainer { width: 95%}
    .leftCircle .caret { width: 7.5vw; height: 7.5vw; }
    .leftCircle .description { font-size:  3.34vw; margin-top: 1vw; }

    .shadow { visibility: hidden;}

   .leftCircle { min-width: 96vw !important; margin-left: -10vw !important; }

.button { font-size: 3vw;margin-top: 5vw; margin-bottom: 10vw; }
.button a { padding: 3.25vw 5vw;  }

   .rightCircle { border: none;  gap: 0vw; justify-content: center; }
   
   .rightCircle .numberContainer { width: 35vw; align-items: flex-start; }
   .rightCircle .descContainer { width: 25vw; }

   .rightCircle .number { height: auto; flex: 1; font-size: 13.34vw;  }
   .rightCircle .description { height: auto; flex: 1; font-size: 4vw; color: var(--t-primary); line-height: 1.5; }
   
}