.footer { aspect-ratio: 100 / 26.823; width: 100%; display: flex; flex-direction: column; contain: layout style paint; background: var(--bg-elevated); }
.contentWrapper { display: flex; flex: 1; min-height: 80%; padding: 0 17.5vw 0 15.72vw; align-items: center; justify-content: space-between; }
.leftSection { display: flex; flex-direction: column; }
.title { font-size: 3vw; width: fit-content; min-height: 3vw; }
.mailLink { position: relative; transition: color .4s;}
.underline { width: 100%; height: .25vw; background: var(--t-primary); position: absolute; opacity: 0; bottom: .4vw; right: 0; transition: background .4s; }
.infoGrid { display: flex; width: 100%; justify-content: space-between; margin-top: 2vw; }
.infoBlock { display: flex; flex-direction: column; gap: .5vw; }
.label { color: var(--t-secondary); font-size: .834vw; min-height: .834vw; }
.value { font-size: 1.25vw; font-weight: bolder; min-height: 1.25vw; }
.navigation { display: flex; flex-direction: column; text-transform: uppercase; font-weight: bolder; gap: 2vw; list-style: none; line-height: .85; }
.navLink { display: flex; gap: .75vw; height: auto; }
.index { max-width: 3.75vw; min-width: 3.75vw; flex: 1; position: relative; font-size: 1.25vw; color: var(--t-secondary); display: flex; flex-direction: column; justify-content: space-between; }
.line { transition: width .4s; height: 2px; width: 60%; background: var(--t-secondary); border-radius: 1vw; }
.pageName { font-size: 1.97vw; }
.bottom { font-size: .834vw; min-height: 3vw; width: 100%; border-top: 1px solid rgba(255, 255, 255, 0.1); display: flex; justify-content: space-between; padding: .9vw 17.5vw .9vw 15.72vw; align-items: center; }
.copyright { font-size: 0.9375vw; color: var(--t-secondary); }
.highlight { color: var(--t-primary); }
.divider { margin: 0 .5vw; }
.socials { display: flex; list-style: none; gap: 1vw; font-weight: bolder; text-transform: capitalize; font-size: .9vw; }

.mailLink:hover {color: var(--ac-primary); }
.mailLink:hover .underline{ opacity: 1;background: var(--ac-primary); }
.value:hover {color: var(--ac-primary);}
.highlight:hover {color: var(--ac-primary);}
.socials li :hover {color: var(--ac-primary);}
.navLink:hover {color: var(--ac-primary);}
.navLink:hover span {color: var(--ac-primary);}
.navLink:hover .line {background: var(--ac-primary); width: 92.5%;}

@media (max-width: 1024px) {
.footer { aspect-ratio: 100 / 97.5; }
.contentWrapper { display: flex; flex: 1; min-height: 85%; padding: 5vw 1.953125vw; flex-direction: column; justify-content: space-between; align-items: flex-start;}

.title { font-size:  6.9vw;}
.infoGrid { margin-top: 7.5vw; }
.infoBlock {  gap: 1.25vw; }
.label {font-size: 2.25vw; }
.value { font-size: 3.5vw;}

.navLink { gap: 2vw;  }
.index { max-width: 10vw; min-width: 10vw; font-size: 3.5vw; }
.line { transition: width .4s; height: 2px; width: 60%; }
.pageName { font-size: 5vw; }
.navigation { gap: 4vw; line-height: 1; }

.bottom { font-size: .834vw; padding: 2.5vw 1.953125vw; flex-direction: column; gap: 2vw; }
.copyright { font-size: 2.255vw; }
.divider { margin: 0 1.5vw; }
.socials { gap: 1.5vw; font-size:2.255vw; }

}


@media (max-width: 480px) {
    .footer { aspect-ratio: 1 / 1; min-height: 100vh; }
    .contentWrapper { display: flex; flex: 1; min-height: 80%; padding: 5vw 3.75vw 7.5vw 3.75vw;  flex-direction: column; justify-content: space-between; align-items: flex-start;}
    
    .title { font-size:  6.75vw;}
    .infoGrid { margin-top: 15vw; flex-direction: column; gap: 5vw; }
    .infoBlock {  gap: 2vw; }
    .label {font-size: 4.25vw; }
    .value { font-size: 5.75vw;}
    
    .navLink { gap: 5vw;  }
    .index { max-width: 12.5vw; min-width: 12.5vw; font-size: 5vw; }
    .line { transition: width .4s; height: 2px; width: 60%; }
    .pageName { font-size: 9vw; }
    .navigation { gap: 7.5vw; line-height: 1; }
    
    .bottom { font-size: .834vw; padding: 7.5vw 5vw; gap: 5vw }
    .copyright { font-size: 4.25vw; text-align: center; }
    .divider { margin: 0 1.5vw; }
    .socials { gap: 2vw; font-size:4.25vw; padding: 0 5vw; }
    
    }