---
const menu = ["HOME", "ABOUT", "SERVICES", "CONTACT"];
const social = ["Facebook", "Twitter", "Linkedin", "Instagram"];
---

<div class="father-container">
    <div class="container">
        <div class="left-side">
            <div>
                <h1>Just drop me a line</h1>
                <h1 class="email">
                    <div
                        class="email-line"
                        style="height:100%; position:absolute; minWidth: 712px; bottom: -10px; transition: 1s"
                    >
                    </div>
                    boldman@example.com
                </h1>
                <div style="display:flex">
                    <div style="width: 40%;">
                        <p style="line-height: 0px;">Our phone number</p>
                        <h3 class="infos">+0123 456 18 100</h3>
                    </div>
                    <div style="width: 60%;">
                        <p style="line-height: 0px;">Our location</p>
                        <h3 class="infos">
                            schemns wuendksd,wensd ch-34532 NY
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-side">
            {
                menu.map((e, i) => (
                    <div class="menu">
                        <div class="menu-container">
                            <div class="line" />
                            <h3 class="menu-number">01</h3>
                        </div>
                        <a class="menu-link">{e}</a>
                    </div>
                ))
            }
        </div>
    </div>
    <hr style="border-color: white; opacity: 0.2" />
    <div class="z-parent-container">
        <div class="z-container">
            <div class="z-left">
                Copyright © <span class="copyright">pink butterfly</span>|
                Designed by <span class="copyright">pink butterfly</span> - Powered
                by <span class="copyright">bo7mid</span>
                <span class="copyright">ras el barka</span>
            </div>
            <div class="z-right">
                {
                    social.map((e, i) => (
                        <span
                            onmouseenter="this.style.color='#cafb42'"
                            onmouseleave="this.style.color='white'"
                            style={`margin-left: ${
                                i ? "20px" : 0
                            }; color: white; font-weight: bold; font-size: 18px; cursor: pointer`}
                        >
                            {e}
                        </span>
                    ))
                }
            </div>
        </div>
    </div>
</div>
<style>
    *::selection {
        color: #000;
        background-color: #cafb42;
    }

    .z-parent-container {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: -9px;
    }
    .z-container {
        max-width: 1330px;
        width: 100%;
        display: flex;
        height: 60px;
        align-items: center;
    }

    .z-left {
        float: left;
        width: calc(70% - 15px);
        margin-left: 15px;
        color: rgba(255, 255, 255, 0.233);
        font-size: 14px;
    }
    .z-right {
        width: calc(30% - 15px);
    }
    .copyright {
        color: white;
        cursor: pointer;
    }
    .copyright:hover {
        color: #cafb42;
    }

    .father-container {
        background-color: #1a1a1c;
    }
    .email {
        position: relative;
        transition: 0.3s;
        cursor: pointer;
        z-index: 5;
        height: 53px;
    }
    .email:hover {
        color: #cafb42;
        text-decoration: underline;
    }

    .email:hover .email-line {
        border-bottom: 7px solid #cafb42;
    }
    .infos:hover {
        color: #cafb42;
        cursor: pointer;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .left-side {
        max-width: 980px;
        width: calc(80% - 30px);
        margin-left: 15px;
    }
    .right-side {
        width: calc(30% - 30px);
        margin-left: 30px;
        max-width: 320px;
    }

    .left-side div {
        width: 100%;
    }
    .right-side div {
        width: 100%;
    }

    h1 {
        font-size: 60px;
        line-height: 40px;
        color: white;
        margin-top: 10px;
        font-weight: bold;
        overflow: hidden;
    }

    h3 {
        font-weight: bold;
        font-size: 25px;
        color: white;
    }
    p {
        color: rgba(255, 255, 255, 0.6);
    }

    .menu {
        display: flex;
        height: 50px;
        margin-top: 20px;
        cursor: pointer;
    }
    .menu:nth-child(1) {
        margin-top: 0;
    }
    .menu-container {
        max-width: 90px;
        position: relative;
    }
    .line {
        max-width: 40px;
        border-top: 2px solid rgba(255, 255, 255, 0.5);
        position: absolute;
        transition: 0.4s;
    }
    .menu-number {
        margin-top: 10px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 21px;
    }
    .menu-link {
        font-size: 38px;
        color: white;
        margin-top: -12px;
        font-weight: bold;
    }

    .menu .line {
        max-width: 40px;
        border-top: 2px solid rgba(255, 255, 255, 0.5);
        transition: all 0.3s ease-in-out;
    }

    .menu:hover .line {
        max-width: 80px;
        border-top: 2px solid #cafb42;
    }

    .menu .menu-number {
        color: rgba(255, 255, 255, 0.8);
        transition: all 0.3s ease-in-out;
    }

    .menu:hover .menu-number {
        color: #cafb42;
    }

    .menu .menu-link {
        color: white;
        transition: all 0.3s ease-in-out;
    }

    .menu:hover .menu-link {
        color: #cafb42;
    }

    @media (max-width: 1190px) {
        .container {
            flex-direction: column;
            justify-content: flex-end;
        }
        .left-side {
            min-width: calc(100vw - 30px);
            margin-left: 0;
        }
        .right-side {
            width: 100%;
            margin-left: 0;
            margin-top: 40px;
            max-width: calc(100vw - 30px);
        }
    }

    @media (max-width: 1330px) {
        .z-parent-container {
            display: flex;
            margin-top: 20px;
        }
        .z-container {
            height: 85px;
            flex-direction: column;
        }

        .z-left {
            width: 100%;
            margin-left: 0;
            color: white;
            display: flex;
            justify-content: center;
        }
        .z-right {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    }

    @media (max-width: 1190px) {
        .container {
            flex-direction: column;
            justify-content: flex-end;
        }
        .left-side {
            min-width: calc(100vw - 30px);
            margin-left: 0;
        }
        .right-side {
            width: 100%;
            margin-left: 0;
            margin-top: 40px;
            max-width: calc(100vw - 30px);
        }
    }

    @media (max-width: 764px) {
        h1 {
            font-size: 40px;
        }
        h3 {
            font-size: 15px;
        }
        p {
            font-size: 12px;
        }
    }
</style>
