.posts-section { width: 100%; padding: 3.33vw 1.25vw; background:var(--bg-elevated);}

.posts-container { margin: 0 auto;max-width: 1200px; }

.posts-header { text-align: center; margin-bottom: 2.50vw }

.posts-title { font-size: 1.88vw; font-weight: bold; margin-bottom: 0.83vw; color: #f9fafb }

.posts-subtitle { font-size: 1.04vw; color: #9ca3af; max-width: 26.67vw; margin: 0 auto }

.posts-grid { display: grid; grid-template-columns:repeat(3, 1fr) ;gap: 1.67vw;}

@media screen and (max-width: 1024px) {
  .posts-section { width: 100%; padding: 8.33vw 3.13vw; background:var(--bg-elevated)
    }
      .posts-container { margin: 0 auto }
  .posts-header { text-align: center; margin-bottom: 6.25vw }
  .posts-title { font-size: 4.69vw; font-weight: bold; margin-bottom: 2.08vw; color: #f9fafb }
  .posts-subtitle { font-size: 2.60vw; color: #9ca3af; max-width: 66.67vw; margin: 0 auto }
  .posts-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 4.17vw }
}

@media screen and (max-width: 480px) {
  .posts-section { width: 100%; padding: 15.53vw 5.83vw; background:var(--bg-elevated)
    }
      .posts-container { margin: 0 auto }
  .posts-header { text-align: center; margin-bottom: 11.65vw }
  .posts-title { font-size: 8.74vw; font-weight: bold; margin-bottom: 3.88vw; color: #f9fafb }
  .posts-subtitle { font-size: 4.85vw; color: #9ca3af; max-width: 124.27vw; margin: 0 auto }
  .posts-grid { display: grid; grid-template-columns: 1fr; gap: 7.77vw }
}