.container { display: flex; flex-direction: column; gap: 1.5vw; /* 15px/1920*100 */ padding: 0 var(--padding-base);margin:60px 0px 50px;}
.title { font-size: 64px; /* 25px/1920*100 */ line-height: 1.82vw; /* 35px/1920*100 */ color: var(--t-primary); font-weight: 700;}
.textContainer { display: flex; flex-direction: column; gap: 0;  /* 50px/1920*100 */ }
.text { font-size: 0.83vw; /* 16px/1920*100 */ color: var(--t-thri); line-height: 26px; /* 26px/1920*100 */ }

@media screen and (max-width: 1024px) {
    .container{height: auto;}
    /* .container { gap: 1.46vw; 15px/1024*100 } */
    .title { font-size: 64px; /* 25px/1024*100 */ /* 35px/1024*100 */ }
    .textContainer{padding-top: 26px;}
    .text { font-size: 16px; /* 16px/1024*100 */ line-height: 2.54vw; /* 26px/1024*100 */ }
}

@media screen and (max-width: 480px) {
    .container { min-height:167px;margin-bottom: 30px; }
    .title { font-size: 25px; /* 25px/412*100 */ }
    
    .text { font-size: 16px; /* 16px/412*100 */ line-height: 6.31vw; /* 26px/412*100 */ }
}
